body{
    text-align:center;
    background-color:#e3e3e4;
}

#text {
    margin-top:20px;
    width: 180px;
}

#logo {
    margin-top:30px;
    width:260px;
}

#source{
    margin-top:30px;
    width: 180px;
}

#thanks{
    margin-top:20px;
    width: 180px;
}

#copyleft{
    margin-top:20px;
    width: 140px;
}

#noInternet{
    margin-top:50px;
}