@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
 
body{
  font-family:'나눔고딕', NanumGothic, 'Nanum Gothic';
  font-weight:600;
}

a{
  text-decoration:none;
}

button{
  float:right;
  text-decoration:none;
}

div {
  margin-top: 20px;
}
